<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


        <style>
            #chat_messages {
                max-height: 540px;
                height: 550px;
                overflow-y: auto;
            }    
            .sticky {
                position: sticky;
                top: 0;
                background-color: #ffffff; /* Adjust the background color as needed */
                z-index: 100;
            }
        </style>
    </head>

    <body class="bg-teal-600 h-screen flex items-center justify-center">

        {% include "app_chat/navbar.html"%}
        
        {% block content %} 
        {% endblock %}

        {% block scripts %}
        {% endblock %}

    </body>
</html>
