{% extends 'base.html' %}
{% block title %} {{ room.name }} {% endblock %}


{% block content %}
    <div class="flex flex-col w-full h-screen justify-center items-center">        
        <div class="lg:w-2/4 w-full mx-4 lg:mx-auto p-2 bg-white lg:rounded-md lg:mt-6">
            <div class="chat-messages space-y-1" id="chat_messages">
                {% for message in messages %}
                    <div class="p-2 bg-gray-200 rounded-md max-w-content break-all
                            {% if message.user.username == request.user.username %}
                                bg-green-200 text-right
                            {% else %}
                                bg-gray-200 text-left
                            {% endif %}">
                        <div>
                            <p class="font-semibold"> {{ message.user.username }} </p>
                            <p> {{ message.content }} </p>
                        </div>
                        <div>
                            <p class="text-xs text-gray-500"> {{ message.timestamp|date:'h:i A' }} </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="bottom-0 fixed lg:w-2/4 w-full mt-6 mx-4 lg:mx-auto p-2 bg-white lg:rounded-md">
            <form method="post" action="." class="flex">
                {% csrf_token %}
                <input type="text" name="content" class="flex-1 mr-3 pl-3" id="chat_message_input" placeholder="Type your message...">
                
                <button class="px-5 py-2 rounded-md text-white bg-teal-600 hover:bg-teal-700" id="chat_message_submit">Sent</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);

    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/' + roomName + '/');
    console.log(chatSocket);

    // Variable to keep track of the last displayed date
    let lastDisplayedDate = null;

    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data);
    
        if (data.message) {
            let cssClass = data.username === userName ? 'bg-green-200' : 'bg-gray-200';
            let alignmentClass = data.alignmentClass || (data.username === userName ? 'text-right' : 'text-left');
    
            let messageDate = new Date(data.timestamp);
            let formattedMessageDate = messageDate.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
    
            // Check if the current message's date is different from the last displayed date
            if (formattedMessageDate !== lastDisplayedDate) {
                // Display the date header
                let dateHeaderHtml = '<div class="text-center text-gray-500 my-2">';
                dateHeaderHtml += formattedMessageDate;
                dateHeaderHtml += '</div>';
                document.querySelector('#chat_messages').innerHTML += dateHeaderHtml;
    
                // Update the lastDisplayedDate variable
                lastDisplayedDate = formattedMessageDate;
            }
    
            let html = '<div class="p-2 bg-gray-200 ' + cssClass + ' ' + alignmentClass + ' rounded-md">';
            html += '<p class="font-semibold">' + data.username + '</p>';
            html += '<p>' + data.message + '</p>';
            html += '<div class="text-xs text-gray-500">' + formatTimestamp(messageDate) + '</div>';
            html += '</div>';
    
            document.querySelector('#chat_messages').innerHTML += html;
        } else {
            alert('Message was empty!');
        }
    
        // Scroll down to the bottom of the page on new content
        scrollToBottom();
    }

    // Function to format the timestamp (you can customize the format as needed)
    function formatTimestamp(timestamp) {
        const messageDate = new Date(timestamp);
        const currentDate = new Date();

        if (
            messageDate.getFullYear() === currentDate.getFullYear() &&
            messageDate.getMonth() === currentDate.getMonth() &&
            messageDate.getDate() === currentDate.getDate()
        ) {
            // If the message was sent today, display the time only
            return messageDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        } else {
            // If the message was sent on a previous day, display the date
            const options = { year: 'numeric', month: 'short', day: 'numeric' };
            return messageDate.toLocaleDateString(undefined, options);
        }
    }

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }
    
    //

    document.querySelector('#chat_message_submit').onclick = function(e) {
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat_message_input');
        const message = messageInputDom.value;

        // Check if the message is not empty before sending
        if (message.trim() !== '') {
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName,
            }));

            messageInputDom.value = '';
        } else {
            alert('Message cannot be empty!');
        }

        return false;
    }

    // A function for finding the messages element, and scroll to the bottom of it.
    function scrollToBottom() {
        let objDiv = document.getElementById("chat_messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }    
    scrollToBottom();

</script>
{% endblock %}