{% extends 'base.html' %}
{% block title %} {{ room.name }} {% endblock %}


{% block content %}
    <div class="flex flex-col w-full h-screen justify-center items-center">        
        <div class="lg:w-2/4 w-full mx-4 lg:mx-auto p-2 bg-white lg:rounded-md lg:mt-5">
            <div class="chat-messages h-auto space-y-1" id="chat_messages">
                {% for group in grouped_messages %}
                    {% ifchanged group.date %}
                        <div class="date-group">
                            <p class="text-sm text-center text-gray-500"">{{ group.date|date:'l, F j, Y' }}</p>
                        </div>
                    {% endifchanged %}
            
                    {% for message in group.messages %}
                        <div class="p-2 bg-gray-200 rounded-md max-w-content break-all
                                {% if message.user.username == request.user.username %}
                                    bg-green-200 text-right
                                {% else %}
                                    bg-gray-200 text-left
                                {% endif %}">
                            <div>
                                <p class="font-semibold"> {{ message.user.username }} </p>
                                <p> {{ message.content }} </p>
                            </div>
                            <div>
                                <p class="text-xs text-gray-500"> {{ message.formatted_timestamp }} </p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            
        </div>

        <div class="bottom-0 fixed lg:w-2/4 w-full mt-6 mx-4 lg:mx-auto p-2 bg-white lg:rounded-md">
            <form method="post" action="." class="flex">
                {% csrf_token %}
                <input type="text" name="content" class="flex-1 mr-3 pl-3" id="chat_message_input" placeholder="Type your message...">
                
                <button class="px-5 py-2 rounded-md text-white bg-teal-600 hover:bg-teal-700" id="chat_message_submit">Sent</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);

    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/' + roomName + '/');
    console.log(chatSocket);

    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data);

        if (data.message) {
            let cssClass = data.username === userName ? 'bg-green-200' : 'bg-gray-200';
            let alignmentClass = data.alignmentClass || (data.username === userName ? 'text-right' : 'text-left');

            let html = '<div class="p-2 bg-gray-200 ' + cssClass + ' ' + alignmentClass + ' rounded-md">';
            html += '<p class="font-semibold">' + data.username + '</p>';
            html += '<p>' + data.message + '</p>';
            html += '<div class="text-xs text-gray-500">' + formatTimestamp(data.timestamp) + '</div>';
            html += '</div>';

            // Add the new message to the DOM
            document.querySelector('#chat_messages').innerHTML += html;

            // Scroll down to the bottom of the page on new content
            scrollToBottom();
        } else {
            alert('Message was empty!');
        }
    }

    chatSocket.onclose = function (e) {
        console.log('onclose');
    }

    document.querySelector('#chat_message_submit').onclick = function (e) {
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat_message_input');
        const message = messageInputDom.value;

        // Check if the message is not empty before sending
        if (message.trim() !== '') {
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName,
            }));

            messageInputDom.value = '';
        } else {
            alert('Message cannot be empty!');
        }

        return false;
    }

    // A function for finding the messages element, and scroll to the bottom of it.
    function scrollToBottom() {
        let objDiv = document.getElementById("chat_messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Function to format the timestamp
    function formatTimestamp(timestamp) {
        const options = { hour: 'numeric', minute: 'numeric', second: 'numeric' };
        return new Date(timestamp).toLocaleString(undefined, options);
    }

    // Scroll to the bottom on initial load
    scrollToBottom();


</script>
{% endblock %}