{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div>
    <h1 class="text-3xl lg:text-6xl text-white">Sign Up</h1>
</div>

<form method="post" action="." class="lg:w-1/4 px-4 mx-auto">
    {% csrf_token %}

    <div class="mb-5">
        <label class="text-white">Username</label>

        <input type="text" name="username" class="w-full mt-2 px-4 py-2 rounded-sm">
    </div>
    <div class="mb-5">
        <label class="text-white">Password</label>

        <input type="password" name="password" class="w-full mt-2 px-4 py-2 rounded-sm">
    </div>
    <div class="mb-5">
        <label class="text-white">Confirm Password</label>

        <input type="password" name="password2" class="w-full mt-2 px-4 py-2 rounded-sm">
    </div>

    {% if form.errors %}
        {% for field in form %}
            {% for error in fiels.errors %}
            <p class="text-red-500 font-semibold text-center my-2">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    {% endif %}
    
    <button type="submit" class="px-5 py-3rounded-smtext-white bg-teal-800 hover:bg-teal-700">Submit</button>
</form>
{% endblock %}